<ul class="nav nav-list">
    @*@if (Convert.ToInt32(Session["UserRole"]) == Helpers.parameters.user || Convert.ToInt32(Session["UserRole"]) == Helpers.parameters.sectionhead)
        {*@

    <li class="active">
        <a href="~/Dashboards/Tasks">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text">Task Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>


    <li class="">
        <a href="#" class="dropdown-toggle">
            <span class="menu-text"> Settings </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li><a href="~/Jobs/Index/">Scheduler Jobs</a></li>
            <li><a href="~/Services/Index/">Services</a></li>
            <li><a href="~/Servers/Index/">Servers</a></li>
            <li><a href="~/Servers/Email/">Send Email</a></li>
            <li><a href="~/Invoicing/Create/">Credential Manager</a></li>
        </ul>
    </li>



    <li class="">
        <a href="#" class="dropdown-toggle">
            <span class="menu-text"> Today's Statistics</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li><a href="~/Solaris/Index/">Solaris Servers</a></li>
            <li><a href="~/Disks/Index/">Windows Servers </a></li>
            <li><a href="~/Services/ServiceStatus/">Services</a></li>
            <li><a href="~/Flexcube/CheckTimeLevel/">FlexBranch</a></li>
            <li><a href="~/BizTalks/Index/">BizTalk STP Server</a></li>
            <li><a href="~/WebLogic/Index/">Weblogic Application Server </a></li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">

            <span class="menu-text">Reports </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class=""><a href="~/Reports/Index">Operational Reports</a><b class="arrow"></b></li>
            <li class=""><a href="~/Reports/Index">Executive Reports</a><b class="arrow"></b></li>

        </ul>
    </li>


    <li class="">
        <a href="#" class="dropdown-toggle">

            <span class="menu-text">Settings</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">

            <li class=""><a href="~/Invoicing/Services">Services</a><b class="arrow"></b></li>
            <li class=""><a href="~/Invoicing/Vendors">Servers</a><b class="arrow"></b></li>
            <li class=""><a href="~/Invoicing/Departments">Departments</a><b class="arrow"></b></li>
            @*<li class=""><a href="~/Invoicing/WorkStation">Currencies</a><b class="arrow"></b></li>*@
            @*<li class=""><a href="~/Invoicing/DirectorsSchedule">Business Units</a><b class="arrow"></b></li>*@

        </ul>
    </li>



    @*}*@

</ul><!-- /.nav-list -->
