<ul class="nav nav-list">
    @*@if (Convert.ToInt32(Session["UserRole"]) == Helpers.parameters.user || Convert.ToInt32(Session["UserRole"]) == Helpers.parameters.sectionhead)
        {*@

    <li class="active">
        <a href="~/User/Index">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>


    <li class="">
        <a href="#" class="dropdown-toggle">
            <span class="menu-text"> Transactions </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li><a href="~/Invoicing/Index/">Payments</a></li>
            <li><a href="~/Invoicing/Create/">Capture Payment</a></li>
            <li><a href="~/Invoicing/Create/">Update Payment</a></li>

        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">

            <span class="menu-text">Reports </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class=""><a href="~/Reports/Index">Operational Reports</a><b class="arrow"></b></li>
            <li class=""><a href="~/Reports/Index">Executive Reports</a><b class="arrow"></b></li>

        </ul>
    </li>


    <li class="">
        <a href="#" class="dropdown-toggle">

            <span class="menu-text">Settings</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">

            <li class=""><a href="~/Invoicing/Services">Services</a><b class="arrow"></b></li>
            <li class=""><a href="~/Invoicing/Vendors">Servers</a><b class="arrow"></b></li>
            <li class=""><a href="~/Invoicing/Departments">Departments</a><b class="arrow"></b></li>
            @*<li class=""><a href="~/Invoicing/WorkStation">Currencies</a><b class="arrow"></b></li>*@
            @*<li class=""><a href="~/Invoicing/DirectorsSchedule">Business Units</a><b class="arrow"></b></li>*@

        </ul>
    </li>



    @*}*@

</ul><!-- /.nav-list -->
